swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

swiper-slide {
    width: 100%;
    border-radius: 4px;
    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
    background-blend-mode: normal,color-burn;
}

ion-grid{
    background: white;

    ion-row{
        background: white;

        ion-col{
            background: white;

        }
    }
}

form{
    ion-item{
        --background: #ddd !important;
    }
}

.childModal1, .childModal2{
    min-width: 100% !important;
    width: 100% !important;
    --min-width: 100% !important;
    --width: 100% !important;
}