<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>

        <div class="outer-div">
          <ion-card class="ion-padding">

            <ion-item class="ion-margin-vertical">
              <span slot="start">
                <!-- <ion-icon color="warning" name="alarm-sharp"></ion-icon> -->
                <ion-icon size="large" color="primary" name="trending-up-outline"></ion-icon>
              </span>
            <ion-label>
              <h1>
                StreakIt 
              </h1>
              <ion-note color="medium">Don't break the chain! Keep your streak going with StreakIt.</ion-note>
            </ion-label>
          </ion-item>

            <ion-card-header>
              <ion-label>
                <h1>
                  Login
                </h1>
              </ion-label>
            </ion-card-header>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <ion-toolbar>
                  <span slot="start">
                    <ion-icon name="person-circle-outline"></ion-icon>
                  </span>
                  <ion-input label="Username" labelPlacement="floating" placeholder="Enter Username"
                    id="username" formControlName="username" required></ion-input>
              </ion-toolbar>
                <ion-toolbar>
                  <span slot="start">
                    <ion-icon name="key-outline"></ion-icon>
                  </span>
                  <ion-input label="Password" labelPlacement="floating" placeholder="Enter Password"
                    id="password" formControlName="password" required minlength="6"></ion-input>
                </ion-toolbar>
           
                <ion-toolbar>
                  <ion-item lines="none">
                    <ion-button class="submit-btn" expand="block" [disabled]="!loginForm.valid" type="submit">Login</ion-button>
                  </ion-item>
                </ion-toolbar>
            </form>

          </ion-card>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>